@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Xác thực hai yếu tố (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Bạn không còn mã phục hồi nào nữa.</strong>
                    <p>YBạn phải <a asp-page="./GenerateRecoveryCodes">tạo một bộ mã phục hồi mới</a> trước khi bạn có thể đăng nhập bằng mã phục hồi.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>YBạn còn 1 mã khôi phục.</strong>
                    <p>Bạn có thể <a asp-page="./GenerateRecoveryCodes">tạo một bộ mã phục hồi mới</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Bạn phải @Model.RecoveryCodesLeft còn mã phục hồi.</strong>
                    <p>Bạn nên <a asp-page="./GenerateRecoveryCodes">tạo một bộ mã phục hồi mới</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Quên trình duyệt này đi</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Đặt lại mã phục hồi</a>
        }

        <h4>Authenticator app</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Thêm ứng dụng xác thực</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Thiết lập ứng dụng xác thực</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Đặt lại ứng dụng xác thực</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Chính sách bảo mật và cookie chưa được chấp nhận.</strong>
            <p>Bạn phải chấp nhận chính sách trước khi có thể bật xác thực hai yếu tố.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
